@use "../abstract/variables" as var;

body {
    font-family: var.$police-secondaire;
    font-size: 1.5rem;
    margin: 0;
    background-color: var.$couleur-principale;
}

h1, h2, h3 {
    font-family: var.$police-principale;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}