@use "../abstract/variables" as var;

@font-face {
    font-family: var.$police-principale;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: var.$police-secondaire;
    src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}